$default-font-size: 1.6rem;
$light-font-color: #fff;
$dark-font-color: #000000;
@mixin clearfix {
  &::after {
      content: "";
      display: table;
      clear: both;
  }
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  // this defines what 1 rem is
  font-size: 62.5%; /* Default font size 16px */
}

body {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: $default-font-size;
  line-height: 1.7;
}

.header {
  position: fixed;
  width: 100%;
  height: 11.4rem;
}

.block {
  display: inline-block;
  height: 50%;
  color: #808080;

  &__tab {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    margin-right: 1rem;

    &--no-mobile {
      display: none;
    }

    &__chat {
      margin-bottom: -7px;
    }

  }

  &__text {
    display: none;
  }
}

.wrapper { position: relative;
}

input {
  border-radius: 5px;
  padding-left: 2rem;
  padding-right: -2rem;
}

.pr {
  &1 {
    padding-right: 0rem;
  }

  &5 {
    // padding-right: 5rem;
    padding-right: 0rem;
  }
}

.nav {
  background-color: #fff;
  // height: 6rem;
  position: relative;

  &__search {
    opacity: 0.5;
    max-height: 0;
    overflow: hidden;
    position: absolute;
    width: 100%;
    transition: .3s all ease;
    z-index: 5;

    &--open {
      opacity: 1;
      max-height: 100%;
    }

    &-box {
      background-color: $light-font-color;

      & input {
        width: 98%;
        margin-left: 0.5rem;
        padding-left: 0.5rem;
      }
    }
  }

  &__mobile {
    opacity: 0.5;
    max-height: 0;
    overflow: hidden;
    position: absolute;
    background-color: $dark-font-color;
    color: $light-font-color;
    width: 100%;
    transition: .3s all ease;
    z-index: 10;

    & > * {
      padding: 0.5rem 1rem;

      &:hover {
        background-color: $light-font-color;
        color: $dark-font-color;
        cursor: pointer;
        transition: .3s all ease;
      }
    }

    &--open {
      opacity: 1;
      max-height: 100%;
    }

  }

  @include clearfix();

  &__logo-box {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 10%;
  }

  &__icon {
    padding: 0 0.5rem;
    display: inline-block;
    cursor: pointer;
    float: left;
    width: 11%;

    &--tablet {
      display: none;
    }
  }


  &__tabs {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    display: inline-block;
    float: left;

    &--left{
      width: 20%;
      padding-left: 1rem;
      display: none;
    }

    &--right{
      width: 89%;
      // width: 80%;
      // padding-left: 7.5rem;
      // text-align: left;
      padding-left: 1rem;
      text-align: right;
    }
  }

  &__tab {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;

    &:hover {
      background-color: #808080;
    }
  }

  .tab {

    &--normal {
      height: 2.8rem;
    }

    &--small {
      padding: .85rem .8rem;
    }

  }

  &--open {
    display: block;
    position: absolute;
    bottom: 0;
  }

}

.thinkpad {

  @include clearfix();

  background:#ececec;

  width: 100%;
  padding-top: 3.5rem;

  &__tablet-image-box {
    width: 100%;
  }

  &__tablet-image {
    width: 100%;
    display: block;
  }

  &__heading {
    color: #494949;
    font-family: Lato;
    font-size: 4rem;
    font-weight: 300;
    line-height: 1.25rem;
    text-transform: uppercase;
    margin: 0 auto;
    margin-bottom: 1.5rem;
    padding-bottom: .5rem;
  }

  &__sub-heading {
    color: #212121;
    font-size: 2.4rem;
    font-weight: 300;
    line-height: 2.4rem;
  }

  &__btn-text {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.9rem;
    text-transform: uppercase;
  }

  &__text--orange {
    color: #ff6a00;
  }

  &__heading-content {
    padding-top: 3%;
    text-align: center;
    margin-bottom: 5%;
  }

  &__tablet-image-i3-box {
    text-align: right;
    width: 100%;
  }

  &__tablet-image-i3 {
    padding-right: 2%;
    padding-top: 3%;
    width: 20rem;
  }

 }

.section1 {
  background-image: url("../images/section1.png"); 
  background-size: cover;
  background-position: 45% 73%;
  height: 80vh;
  z-index: 20;

  &__text-box {
    text-align: center;
    display: block;
    margin: 0 auto;
    background-color: rgba(59, 140, 220, 0.9);
    height: 100%;
    width: 60%;
    color: $light-font-color;
    padding: 0 1.5%;
  }

  &__heading {
    display: inline-block;
    text-transform: capitalize;
    margin-top: 5%;
    font-weight: 300;
    font-size: 4rem;
    line-height: 2.5rem;
  }
  
  &__content-text {
    display: block;
    margin-top: 5%;
    font-size: 2.6rem;
    line-height: 3rem;
  }

}

.content {
  text-align: center;
  margin-bottom: 4%;
}

.section2 {

  color: $dark-font-color;
  
  &__title-box {
    margin-top: 2%;
    text-align: center;
    margin-bottom: 3%;
  }

  &__title-text {
    display: inline-block;
    font-size: 4.5rem;
    font-weight: 300;
    line-height: 2.5rem;
    margin-right: 1rem;
  }

  &__title-image {
    width: 75%;
    vertical-align: middle;
  }

  &__title-image-box {
    display: inline-block;
  }

  &__article {

    margin-bottom: 15%;

    &__heading {
      font-size: 3.6rem;
      font-weight: 300;
      line-height: 2.6rem;
      padding-bottom: 3.5rem;
    }

    &__content-text {
      font-size: 2.5rem;
      font-weight: 300;
      line-height: 2.5rem;
      margin-top: 5%;
      margin-left: 9%;
      margin-right: 9%;
    }

    &__image-box {
      width: 100%;
    }

    &__image {
      width: 90%;
    }

  }
  
}

.section3 {

  @include clearfix();

  background-color: #4ac0e0;

  &__image-box {
    margin-top: 4vh;
    widows: 100%;
  }

  &__image {
    width: 100%;
    display: block;
  }

  &__content-box {
    padding: 5% 10%;
    margin: 2rem auto 0 auto;
    color: $light-font-color;
    text-align: center;

    & .u-float-left-1-2:last-child{
      margin-bottom: 3rem;
    }
  }

  &__content-p {
    font-size: 3rem;
    font-weight: 300;
    line-height: 3.3rem;
  }

  &__content-heading {
    font-weight: 300;
    line-height: 2.8rem;
    font-size: 4.5rem;
    padding-bottom: 5rem;
  }
  
}

.featured-pen {
  text-align: center;
  background-color: #d9d8d6;

  &__main-footer {
    padding-bottom: 3rem;
  }

  &__text {
    font-size: 3rem;
    display: inline-block;
    font-weight: 400;
    margin-right: 2rem;
  }

  &__mas-image-box {
    cursor: pointer;
  }

  &__heading {
    padding-top: 4rem;
    font-size: 5rem;
    font-weight: 300;
    line-height: 2.8rem;
  }

  &__sub-heading {
    padding-top: 5rem;
    font-size: 3rem;
    font-weight: 400;
    line-height: 2.8rem;
  }

  &__image-box {
    margin: 0 auto;
    width: 93.5vw;
    padding-top: 3rem;
  }

  &__image {
    width: 100%;
  }

  &__mas-image-box {
    display: inline-block;
  }

  &__content {

    margin-bottom: 8rem;

    &-price-info {
      margin-bottom: 2rem;
    }

    &-text {
      font-size: 2.8rem;
      font-weight: 400;
      line-height: 3.2rem;
      color: #3e8ddd;
    }

    &-price {
      color: #1c1c1c;
      font-size: 2.8rem;
      font-weight: 300;
      line-height: 3.2rem;
    }

    &-description {
      margin-bottom: 3.5rem;
    }

    &-head {
      display: block;
      color: #271410;
      font-size: 1.7rem;
      font-weight: 400;
      line-height: 2.5rem;
    }

    &-list {
      font-weight: 400;
      color: #271410;
      line-height: 2.5rem;
      font-size: 2rem;
      padding: 0 2%;
      display: block;
    }

  }

}

.pens {

  @include clearfix();
  
  background-color: #e3e3e3;
  padding-top: 5rem;

  &__active-pen {

    &-heading{
      font-size: 3rem;
      font-weight: 400;
      line-height: 2.8rem;
    }
    &-image-box {
      margin-bottom: 4rem;
    }
  }

  &__content-price {
    font-size: 2.8rem;
    font-weight: 300;
    line-height: 3.2rem;
    margin-bottom: .5rem;
  }

  &__content-description {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2rem;
    margin-bottom: 4rem;
  }

  &__active-pen-image-box {
    width: 100%;
  }

  &__active-pen-image {
    width: 85%;
  }


}

.products {

  @include clearfix();

  text-align: center;
  margin-bottom: 7%;

  &__heading {
    display: block;
    font-size: 5rem;
    font-weight: 300;
    line-height: 2.8rem;
    margin-top: 3rem;
    margin-bottom: 6rem;
  }

  &__type {
    margin-bottom: 8rem;
  }

  &__product {

    &-heading {
      font-size: 3rem;
      font-weight: 300;
      line-height: 3rem;
      margin-top: 2rem;
    }

    &-description {
      font-size: 2rem;
      font-weight: 300;
      line-height: 2.4rem;
      margin-top: 2rem;
    }

    &-stars-box {
      margin-top: 3rem;
    }

    &-price-content {
      margin-top: 2rem;
    }

    &-start-price {
      font-weight: 400;
      letter-spacing: 0.35px;
      line-height: 2.5rem;
      font-size: 1.4rem;
    }

    &-price {
      font-size: 3rem;
      letter-spacing: 0.75px;
      line-height: 3.6rem;
      font-weight: 400;
    }
  }


}

.btn {
  width: 19.7rem;
  height: 4.5rem;
  border-radius: 5px;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.9rem;
  text-transform: uppercase;
  color: $light-font-color;
  cursor: pointer;

  &--large {
    width: 35.8rem;
    height: 6.2rem;
    border: none;
  }

  &--light-blue {
    background-color: #4ac0e0;
  }

  &--gray {
    background-color: #b8b8b8;
  }

  &--yellow {
    background-color: #ffc82e;
    width: 23.5rem;
    height: 4.5rem;
    border-radius: .5rem;
    border: 1px solid #d48e08;
  }

  &--blue {
    background-color: #1976a1; 
  }
}

.u-float-left-1-3 {
  display: inline-block;
  width: 70%;
}

.u-float-left-1-2 {
  float: left;
  width: 100%;

  &:last-child {
    margin-bottom: 1%;
  }
}

.u-float-left-1-4 {
  display: inline-block;
  width: 75%;
  margin-bottom: 3rem;
  border-right: none;
}

.mb-small {
  margin-bottom: 3rem;;
}

@media only screen and (min-width: 768px) {

  i.fa-search { position: absolute; top: 7.7px; left: 3.3px; }

  .nav {

    padding: .5rem 0;

    & .tab--normal {
      display: inline-block;
      padding: 1.7rem 1.6rem;
      height: unset;
    }

    &__tabs--right {
      width: 89%;
      padding-left: 0;
      text-align: right;
    }
    
    &__icon--mobile {
      display: none;
    }

    &__icon--tablet {
      display: block;
    }

    &__tabs--left {
      width: 40%;
      padding-left: 6.5rem;
    }

    &__mobile {
      width: 50%;
    }

    &__search {
      display: none;
    }
  }

  .thinkpad{
    padding-top: 5.4rem;

    &__heading {
      font-size: 6.1rem;
      line-height: 1.5rem;
    }
  
    &__sub-heading {
      font-size: 2.8rem;
      line-height: 2.8rem;
    }
  }

  .section1 {
    &__text-box {
      width: 47%;
    }

    &__heading {
      font-size: 4.5rem;
      line-height: 2.8rem;
    }
    
    &__content-text {
      font-size: 3rem;
      line-height: 3.3rem;
    }
  }

  .section2 {
    &__title-text {
      font-size: 5rem;
      line-height: 2.8rem;
    }
  
    &__title-image {
      width: 100%;
    }

    &__article {

      &__heading {
        font-size: 4rem;
        line-height: 2.8rem;
      }
    }
  
  }

  .u-float-left-1-4 {
    width: 47%;

    &:nth-child(odd) {
      border-right: 1px solid $dark-font-color;
    }
  }

  .u-float-left-1-3 {
    margin-left: 1.5%;
    margin-right: 1.5%;
    margin-bottom: 5%;
  }

  .featured-pen__image-box {
    width: 76vw;
  }

  .block {
    width: 100%;

    &__text {
      display: inline-block;
    }

    &__tab {
      &--no-tablet {
        display: none !important;
      }
  
      &--no-mobile {
        display: inline-block;
      }

      &--desktop {
        margin-right: .5rem;
      }
    }
  }
  
}


@media only screen and (min-width: 1200px) {

  .nav {
    padding: .25rem 0;

    &__icon {
      display: none;
    }

    &__logo-box{
      display: block;
    }

    &__mobile {
      display: none;
    }

    &__tabs {
      
      &--left{
        display: block;
      }

      &--right {
        width: 60%;
      }
    }

  }

  .section1__heading {
    margin-top: 35%;
  }

  .u-float-left-1-3 {
    width: 30%;
    margin-bottom: 1%;
  }

  .u-float-left-1-4 {
    width: 24.5%;

    &:not(:last-child) {
      border-right: 1px solid $dark-font-color;
      padding-top: 4rem;
      padding-left: 0.2rem;
      padding-right: 0.2rem;
    }
  }

  .u-float-left-1-2 {
    width: 50%;
  }

  .thinkpad__heading-content {
    margin-bottom: 1%;
  }

  .section1__text-box {
    width: 25%;
  }

  .section2__article__image {
    width: 60%;
  }
}

@media only screen and (min-width: 1700px) {

  .section3__content-box {
    padding: 7% 5% 0 23%;
  }

  .section3__content-box {
    padding: 7% 23.5% 0 10%;
  }

}